<?xml version="1.0"?>
<ruleset name="PHP_CodeSniffer">
 <description>The coding standard for event-database-client.</description>

 <file>./src/</file>
 <file>./tests/</file>

 <arg value="np"/>

 <rule ref="PSR2"/>
</ruleset>
